/* Root  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* margin: 100px auto; */
  padding: 0 200px;
  display: flex;
  flex-direction: column;
}

/* landing */
.Landing {
  background-image: url("/Assets/header.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.Landing::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
}
.Nav-Bar {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  padding-top: 30px;
}

.logo {
  z-index: 10;
  width: 50px;
  cursor: pointer;
}
.bullets {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  color: white;
  z-index: 10;
}
.bullets li {
  cursor: pointer;
}
.bullets li:hover {
  color: #ff6e42;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.leadMark {
  z-index: 10;
  text-align: center;
  margin-top: 20%;
  color: white;
}
.leadMark p {
  letter-spacing: 7px;
  word-spacing: 10px;
  font-size: 24px;
}
.leadMark h1 {
  font-size: 100px;
}
/* End Landing Sec*/
/* Start Service */
