/* Root  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  /* margin: 100px auto; */
  padding: 0 200px;
  display: flex;
  flex-direction: column;
}
:root {
  --mainColor: #ff6e42;
  --font-color: #454545;
  --section-color: #f5f8fc;
  --section-padding: 100px;
}
/* Components */
.compo {
  color: var(--font-color);
}
.compo h2 {
  font-size: 40px;
}
.compo p {
  font-size: 18px;
  line-height: 1.7;
  color: var(--font-color);
  margin: 20px 0;
}
/* end components */
/* landing */
.Landing {
  background-image: url("/Assets/header.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.Landing::after {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
}
.Nav-Bar {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  padding-top: 30px;
}
.logo {
  z-index: 10;
  width: 50px;
  cursor: pointer;
}
.bullets {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  color: white;
  z-index: 10;
}
.bullets li {
  cursor: pointer;
}
.bullets li:hover {
  color: var(--mainColor);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.leadMark {
  z-index: 10;
  text-align: center;
  margin-top: 20%;
  color: white;
}
.leadMark p {
  letter-spacing: 7px;
  word-spacing: 10px;
  font-size: 24px;
}
.leadMark h1 {
  font-size: 100px;
}
/* End Landing Sec*/

/* Start Service */
.curve {
  background: white;
  padding: 120px 20px 80px;
  text-align: center;
  z-index: 4;
  position: relative;
  top: -120px;
  clip-path: ellipse(90% 100% at 50% 100%);
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.service {
  border: 1px solid #eee;
  color: var(--font-color);
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  line-height: 1.5;
}
.service .head {
  color: var(--mainColor);
  font-weight: bold;
}

/* End Service */

/* Start About */
.About {
  background: var(--section-color);
  margin-top: -100px;
  padding: var(--section-padding) 0;
}
.About-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
}
img {
  width: 100%;
}
.About .About-Company {
  color: var(--font-color);
  width: 90%;
}

.About .About-Company h3 {
  font-size: 30px;
}
.About .About-Company p {
  font-weight: bold;
  padding: 10px 0;
}
.About .About-Company .f {
  font-weight: normal;
  line-height: 1.2;
  font-size: 17px;
  padding-bottom: 30px;
}
.About .About-Content {
  width: 90%;
  color: var(--font-color);
}
.About .About-Content .images {
  display: flex;
  gap: 20px;
}
.About .images img {
  width: 48%;
}
.About .About-Content p {
  padding: 25px 0;
}

/* end about */

/* Start Portfolio */
.Portfolio {
  background: white;
  padding: 120px 20px 80px;
  text-align: center;
  z-index: 4;
}
.Portfolio .toggle {
  border: 1px solid #eee;
  border-radius: 40px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  width: fit-content;
  color: var(--font-color);
}
.Portfolio .toggle p {
  padding: 10px 20px;
  cursor: pointer;
}
.Portfolio .toggle p:hover {
  background: var(--mainColor);
  color: white;
  border-radius: 40px;
  transition: 0.3s;
}

.Portfolio .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.Portfolio .images img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* end Portfolio */
